body {
  margin: 0;
  padding: 0;
}

* {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  transition: all 0.1s linear;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s linear;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  width: 100%;
}

img {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 5px 0px lightgray;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 24px;
  text-transform: capitalize;
  color: green;
}

input {
  height: 30px;
  width: 200px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

div {
  margin: 10px;
}

button {
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

#main-title {
  color: dodgerblue;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;

  div {
    max-width: 200px;
  }
}

#ele1 {
  width: 300px;
  height: 300px;
  background-color: green;
  cursor: pointer;
  margin-top: 20px;
}

#container-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  div {
    width: 150px;
    height: 150px;
    cursor: pointer;
  }

  #container-blue {
    background-color: blue;
  }

  #container-red {
    background-color: red;
  }

  #container-green {
    background-color: green;
  }

  #container-yellow {
    background-color: yellow;
  }
}

.container-colors-section {
  background: #232946;
  width: 100%;
  padding-bottom: 3rem;
  color: white;
  border-radius: 0px;
}

.input-colors-section {
  background: #3da9fc;
  width: 100%;
  padding-bottom: 3rem;
  color: white;
  border-radius: 0px;

  div {
    display: flex;
    justify-content: center;
    gap: 10px;
    
    div {
      border: 1px solid lightgray;
    }
  }

  input {
    border: 1px solid lightgray;
  }
}

#color-selector {
  min-width: 200px;
  border: 1px solid lightgray;
  height: 30px;
}

#color-change {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keys div {
  background-color: white;
  width: 120px;
  height: 120px;
}

@media screen and (width > 578px) {
  .cards-container {
    display: flex;
    flex-direction: row;
  }

  #container-colors {
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }

  .keys div {
    background-color: white;
    width: 200px;
    height: 200px;
  }
}